{% extends 'base.html' %}
{% block content %}
    <!-- Page Wrapper -->

        <div id="login">

                <form method="post" action="/SuperAdmin/AddArea/">
                {% csrf_token %}
                <center>
                  <div class="container-fluid">
                    <h4>Login</h4>
                    <div class="input-group mb-3">
                        <input type="text" name="username_input_field" class="form-control" id="username-input-field"
                            aria-describedby="basic-addon3" placeholder="Enter your Username">
                    </div></br>

                    <div class="input-group mb-3">
                        <input type="password" name="password_input_field" class="form-control" id="password-input-field"
                            aria-describedby="basic-addon3" placeholder="Enter your Passwrod">
                    </div></br>

                    <button class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Submit</span>
                    </button>
                  </div>
                </center>
                </form>
        </div>
{% endblock content %}